[submodule "Vendor/RestKit"]
	path = Vendor/RestKit
	url = git://github.com/RestKit/RestKit.git
[submodule "Vendor/MWPhotoBrowser"]
	path = Vendor/MWPhotoBrowser
	url = git://github.com/mwaterfall/MWPhotoBrowser.git
